<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="css/detail.css" />

	</head>

	<body>
		<div class="mui-content bg_white">
			<div class="header_icon">
				<p><i class="icon iconfont icon-jiantouleft"></i></p>
				<p><i class="icon iconfont icon-gouwuche"></i></p>
			</div>
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_640x640.jpg">
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_640x640.jpg">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_640x640.jpg">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_640x640.jpg">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>

			<div class="content_w bg_white">
				<p class="p_title">客厅灯长方形LED吸顶灯卧室灯餐厅简约现代大气家用成套灯具套餐</p>
				<p class="p_piece"><span>50-300</span></p>
				<div class="titletab">
					<p>快递: 免运费</p>
					<p>月销4736笔</p>
					<p>江苏常州</p>
				</div>
			</div>

			<div class="content_w bg_white type_tab" id="box_btn">
				<p>请选择 颜色分类</p>
				<i class="icon iconfont icon-jiantouright"></i>
			</div>

			<div class="evaluation content_w bg_white">
				<h4>宝贝评价（110）</h4>
				<div class="evaluation_d">
					<ul>
						<li class="e_list">
							<p class="title">
								<img src="../../images/5948950459170.png" class="header_img" />
								<span class="name">购买者昵称</span>
								<!--<span>等级</span>-->
							</p>
							<p class="detail">
								30多平方的客厅搭配这个长方形的和方形的正合适，和整体风格比较搭的，灯亮度还不错的，买的无极风光有三个色可以调，个人比较喜欢最后一个颜色，暖光很亮，买家态度不错，签收后有点小问题马上给处理了，准备给妈妈家的客厅也买两盏这个款的，唯一一点不足的是希望下次能找个物流稍微快点的快递发货！
							</p>
							<p>颜色分类:长形90x63无极144w</p>
						</li>
					</ul>
				</div>
				<a href="#"><button class="more_evaluation">查看全部评价</button></a>
			</div>
			<div class="InfoMain bg_white">
				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted InfoMainNav">
						<a class="mui-control-item" href="#item1">图文详情</a>
						<a class="mui-control-item" href="#item2">产品参数</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
					<div class="mui-slider-group">
						<div id="item1" class="mui-slider-item mui-control-content mui-active">
							<ul class="mui-table-view">
								<img src="//gw.alicdn.com/imgextra/i1/3064325480/TB2SUI8dILJ8KJjy0FnXXcFDpXa_!!3064325480.jpg_970x970q50s150.jpg_.webp" />
								<img src="//gw.alicdn.com/imgextra/i1/3064325480/TB2SUI8dILJ8KJjy0FnXXcFDpXa_!!3064325480.jpg_970x970q50s150.jpg_.webp" />
							</ul>
						</div>
						<div id="item2" class="mui-slider-item mui-control-content">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">产品：</dt>
										<dd>中国大陆</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">吸顶灯类型：</dt>
										<dd>铁艺吸顶灯</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">智能类型：</dt>
										<dd>阿里小智</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">灯罩辅材质：</dt>
										<dd>PMMA高透光率灯罩</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">灯身辅材质：</dt>
										<dd>ABS+五金底盘</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">质保年限：</dt>
										<dd>3年</dd>
									</dl>
								</li>
								<li class="mui-table-view-cell parameter_list">
									<dl><dt class="parameter_t">品牌：</dt>
										<dd>百傲</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom_nav">
			<div class="nav_kf">
				<i class="icon iconfont icon-kefu"></i>
				<p>客服</p>
			</div>
			<div class="nav_sc">
				<i class="icon iconfont icon-shoucang2" id="sc_btn"></i>
				<p>收藏</p>
			</div>
			<div class="nav_cart" id="nav_btn">
				加入购物车
			</div>
			<div class="nav_buy" id="nav_buy">
				立即购买
			</div>
		</div>

		<div class="mask"></div>
		<div class="detail_box bg_white">
			<div class="detail_top">
				<div class="p_img_box">
					<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
				</div>
				<div class="sku_p_info">
					<p class="sku_p_piece">50-300</p>
					<p class="sku_p_inventory">库存：<span>31111</span></p>
				</div>
				<i class="icon iconfont icon-cha" id="close_icon"></i>
			</div>

			<div class="color_type">
				<h4>颜色分类</h4>
				<ul>
					<li class="list active">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
					<li class="list">8头（送12瓦led）单色暖光 质保三年破损补发</li>
				</ul>
				<ul>
					<li class="quantity-info">
						<div class="sku-quantity">
							<span>购买数量：</span>
							<button class="btn minus" id="minus">-</button>
							<p class="sku_input">
								<input type="number" name="" id="skuNum" value="1" />
							</p>
							<button class="btn plus" id="plus">+</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="sku_botton">
				<ul>
					<li class="sku-btn addcart">加入购物车</li>
					<li class="sku-btn gobuy">立即购买</li>
				</ul>
			</div>
		</div>
		<script src="../../js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>