body {
  color: #000;
}
.mui-content {
  margin-bottom: 2.5rem;
}
.p_title {
  color: #333;
  padding: .3rem 0;
  font-size: .7rem;
}
.p_piece {
  margin-bottom: .3rem;
  color: #ff5000;
}
.p_piece:before {
  content: '￥';
  display: inline-block;
  font-size: 1rem;
  text-indent: -0.12rem;
}
.p_piece span {
  font-size: 1.3rem;
}
.titletab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.titletab p {
  font-size: .3rem;
}
.type_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: .5rem;
  height: 2rem;
  line-height: 2rem;
}
.type_tab p {
  font-size: .7rem;
  color: #333;
}
.type_tab i {
  font-size: .6rem;
  color: #666;
}
.evaluation {
  margin-top: .5rem;
  padding-bottom: .5rem;
  box-sizing: border-box;
}
.evaluation h4 {
  font-size: .6rem;
  font-weight: 500;
  color: #333;
  padding-top: .6rem;
  padding-bottom: .4rem;
}
.evaluation .e_list .title {
  height: 1rem;
  overflow: hidden;
}
.evaluation .e_list .title .header_img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
}
.evaluation .e_list .title .name {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  vertical-align: top;
  color: #333;
}
.evaluation .e_list .detail {
  font-size: .6rem;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  word-break: break-all;
  overflow: hidden;
  color: #333;
}
.evaluation .more_evaluation {
  border: 1px solid #ff5000;
  color: #ff5000;
  padding: .08rem .32rem;
  border-radius: .106667rem;
  margin: 0 .32rem;
  display: block;
  margin: .5rem auto;
}
.evaluation button:enabled:active {
  background: #ff5000;
}
.InfoMain {
  margin-top: .5rem;
}
.InfoMain .InfoMainNav {
  height: 1rem;
  line-height: 1rem;
}
.InfoMain .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #ff5000;
}
.InfoMain .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
  background-color: #ff5000;
}
.InfoMain .parameter_list dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.InfoMain .parameter_list dl .parameter_t {
  color: #666;
}
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.detail_box {
  width: 100%;
  position: fixed;
  bottom: -3rem;
  z-index: 999;
  height: 0;
  transition: all .1s;
}
.detail_box.show {
  height: 20rem;
  transition: all .5s;
  bottom: 0;
}
.detail_box .detail_top {
  border-bottom: 1px solid #e7e7e7;
  height: 3.5rem;
}
.detail_box .detail_top .p_img_box {
  position: relative;
}
.detail_box .detail_top .p_img_box img {
  position: absolute;
  top: -1.8rem;
  left: .8rem;
  border-radius: .3rem;
  border: 3px #fff solid;
  width: 5rem;
  height: 5rem;
}
.detail_box .detail_top .sku_p_info {
  margin-left: 6.2rem;
  box-sizing: border-box;
  padding-top: .5rem;
}
.detail_box .detail_top .sku_p_info .sku_p_piece {
  font-size: .8rem;
  margin-bottom: .1rem;
  color: #ff5000;
}
.detail_box .detail_top .sku_p_info .sku_p_piece:before {
  content: '￥';
  display: inline-block;
  font-size: .7rem;
  text-indent: -0.12rem;
}
.detail_box .detail_top .icon-cha {
  position: absolute;
  right: .3rem;
  top: .3rem;
}
.detail_box .color_type {
  font-size: .5rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0 .3rem;
  height: 14rem;
  margin-bottom: .5rem;
  overflow: auto;
}
.detail_box .color_type h4 {
  font-size: .7rem;
  font-weight: 500;
  margin: .5rem 0;
}
.detail_box .color_type .list {
  display: inline-block;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  vertical-align: middle;
  background: #f9f9f9;
  border-radius: .16rem;
  padding: 0 .2rem;
  margin: .24rem .24rem 0 0;
  cursor: pointer;
}
.detail_box .color_type .list.active {
  color: #fff;
  background: #f60;
}
.detail_box .color_type .quantity-info {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.detail_box .color_type .quantity-info .sku-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem 0;
}
.detail_box .color_type .quantity-info .sku-quantity span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 0;
  font-size: .7rem;
}
.detail_box .color_type .quantity-info .sku-quantity .btn {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  padding: 0;
  border-radius: .15rem;
  font-size: .3rem;
}
.detail_box .color_type .quantity-info .sku-quantity .sku_input {
  width: 1.5rem;
  height: 1.2rem;
  margin: 0 .2rem;
}
.detail_box .color_type .quantity-info .sku-quantity .sku_input input[type='number'] {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: .15rem;
}
.detail_box .sku_botton {
  width: 100%;
}
.detail_box .sku_botton ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.detail_box .sku_botton .sku-btn {
  width: 50%;
  text-align: center;
  color: #fff;
  height: 2rem;
  font-size: .7rem;
  line-height: 2rem;
}
.detail_box .sku_botton .sku-btn.addcart {
  background: #f90;
}
.detail_box .sku_botton .sku-btn.gobuy {
  background: #f60;
}
.bottom_nav {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 998;
  -webkit-box-shadow: 0px -3px 5px #e6e6e6;
  -moz-box-shadow: 0px -3px 5px #e6e6e6;
  box-shadow: 0px -3px 5px #e6e6e6;
}
.bottom_nav .nav_kf,
.bottom_nav .nav_sc {
  box-sizing: border-box;
  width: 3rem;
  padding: .25rem;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}
.bottom_nav .nav_cart,
.bottom_nav .nav_buy {
  width: 6rem;
  text-align: center;
  color: #fff;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: .7rem;
  padding: 0;
}
.bottom_nav .nav_cart {
  background: #ff9402;
}
.bottom_nav .nav_buy {
  background: #ff5000;
}
