<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="index.css" />

	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<div class="mui-input-row mui-search">
				<input type="search" class="mui-input-clear" placeholder="">
			</div>
		</header>

		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../images/594a2d6a62b9e.jpg" />
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../images/5a026dcc219a1.jpg" />
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../images/594a2d6a62b9e.jpg" />
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../images/5a026dcc219a1.jpg" />
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>

			<div class="index_menu content">
				<ul class="flex">
					<li>
						<a href="">
							<img src="../../images/5948950459170.png" />
							<span>光源</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/5948950a1c097.png" />
							<span>吊灯</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/5948951118334.png" />
							<span>吸顶灯</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/59489516acf4c.png" />
							<span>客厅灯</span>
						</a>
					</li>
				</ul>
				<ul class="flex">
					<li>
						<a href="">
							<img src="../../images/5948951c01473.png" />
							<span>墙壁灯</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/5948952214552.png" />
							<span>台灯</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/594895273e473.png" />
							<span>户外灯</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../images/5948952f58f4a.png" />
							<span>电源插座</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="product_list">
				<div class="p_content">
					<ul>
						<li class="plist">
							<a href="../product/detail.html">
								<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
								<h4>中式吸顶灯卧室书房灯饰圆形实木艺羊皮中式灯具客厅灯餐厅灯仿古</h4>
								<p><span>￥</span>128.0</p>
							</a>
						</li>
						<li class="plist">
							<a href="../product/detail.html">
								<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
								<h4>中式吸顶灯卧室书房灯饰圆形实木艺羊皮中式灯具客厅灯餐厅灯仿古</h4>
								<p><span>￥</span>128.0</p>
							</a>
						</li>
						<li class="plist">
							<a href="../product/detail.html">
								<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
								<h4>中式吸顶灯卧室书房灯饰圆形实木艺羊皮中式灯具客厅灯餐厅灯仿古</h4>
								<p><span>￥</span>128.0</p>
							</a>
						</li>
						<li class="plist">
							<a href="../product/detail.html">
								<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
								<h4>中式吸顶灯卧室书房灯饰圆形实木艺羊皮中式灯具客厅灯餐厅灯仿古</h4>
								<p><span>￥</span>128.0</p>
							</a>
						</li>
						<li class="plist">
							<a href="../product/detail.html">
								<img src="../../images/TB2Wht_mCBjpuFjy1XdXXaooVXa_!!2825335427.jpg_240x240.jpg" />
								<h4>中式吸顶灯卧室书房灯饰圆形实木艺羊皮中式灯具客厅灯餐厅灯仿古</h4>
								<p><span>￥</span>128.0</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<nav class="mui-bar mui-bar-tab bar_footer">
			<a class="mui-tab-item mui-active">
				<span class="mui-icon icon iconfont icon-shouye-copy"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item">
				<span class="mui-icon icon iconfont icon-xiaoxi"></span>
				<span class="mui-tab-label">消息</span>
			</a>
			<a class="mui-tab-item">
				<span class="mui-icon icon iconfont icon-gouwuche"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item">
				<span class="mui-icon icon iconfont icon-wode"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>